

 .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 70%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    box-shadow: 0 20px 30px -10px rgba(0, 0, 0, .3);
  }
.item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
